html,
body {
    width: 100%;
    height: 100%;
    margin: 0px;
}

* {
    text-decoration: none;
    box-sizing: border-box;
}

.first_div {
    width: 100%;
    margin: auto;
    background-color: #207DFF;
    color: #808080;
    overflow: auto;
}

.div_first {
    width: 80%;
    margin: auto;
}

.fir_txt1 {
    width: 50%;
    font-size: 15px;
    padding:0px 10px;
    float: left
}


.fir_txt2 {
    width: 50%;
    float: left;
    text-align: right;
    padding:0px 10px;
}

.txt {
    color: #fff;
    font-size: 15px;
    display: inline-block;
    font-weight: 100;
}

.second_div {
    width: 100%;
    margin: auto;
}

.div_sec {
    width: 80%;
    margin: auto;
    padding: 0px 15px;
    overflow: auto;
}

.div_sec1 {
    width: 30%;
    float: left;
    padding: 25px 0px;
}

.logo {
    font-size: 28px;
    font-weight: 800;
    font-family: 'Montserrat', Arial, 'sans-serif';
}

.fab,.fas{
    color:white;
    font-size: 15px;
    padding: 10px;
}
span {
    color: #207dff;
}

.div_sec2 {
    width: 70%;
    float: left;
}

ul {
    display: block;
    margin: 0px;
    padding: 0px;
    text-align: right;
}

li {
    display: inline-block;
    margin: 0px;
    padding: 36px 18px;
    font-weight: 700;
    font-size: 14px;
    font-family: 'Montserrat', Arial, 'sans-serif';
}
.third_div{
    width: 100%;
    height: 100%;
    margin: auto;
    background-image: url(../image/bg_1.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}
.div_third{
    width: 80%;
    height: 100%;
    margin: auto;
}
.text_left{
    width: 42%;
    margin: auto;
    position: absolute;
    top: 200px;
    right: 150px;
    
}
.h1_text{
    font-size: 45px;
    margin: 0px;
    color:white;
    margin-bottom: 25px; 
    font-family: 'Montserrat', Arial, 'sans-serif';
    font-weight: 800;
    line-height: 70px;
}
.border{
    color: #ffd31d;
    border: 2px dashed #ffd31d;
    margin-right: 10px;
    text-align: center;
    padding: 0px 5px;
}
.third_div_btn{
    width: 150px;
    height: 50px;
    background-color: #ffd31d;
    border-radius: 07px;
    border: 1px solid #ffd31d;
    margin-bottom: 15px;
}
.btn_third{
    color: black;
    font-size: 14px;
    padding: 16px 24px;
    font-family: 'Montserrat', Arial, 'sans-serif';
    font-weight: 600;
    text-align: center;
}
.four_div{
    width: 100%;
    margin: auto
}
.div_four{
    width: 80%;
    margin: auto;
    overflow: auto;
}
.div_four_img{
    width: 40%;
    height: 540px;
    float: left;
    background-image: url(../image/about-1.jpg);
    background-position: center;
    background-size: cover;
}
.div_four_contain{
    width: 60%;
    float: right;
    padding: 48px 0px 48px 48px;
}
.four_div_header{
    color: rgba(0,0,0,0.8);
    font-size: 30px;
    padding: 48px 0px 0px 0px;
    margin: 0px 0px 24px 0px;
    font-family: 'Montserrat', Arial, 'sans-serif';
}
.contain{
    width: 100%;
    margin: auto;
    overflow: auto;
}
.cont_div1{
    width: 50%;
    margin: 0px 0px 20px 0px;
    padding: 0px 15px;
    overflow: auto;
    float: left;
}
.con_icon1{
    width: 25%;
    background-color: #ffd31d;
    float: left;
    padding: 15px;
    border-radius: 50%;
}
.icon1{
    width: 40px;
    height: 40px;
}
.con_p{
    width: 75%;
    float: left;
    padding: 0px 0px 0px 16px;
}
.con_h2{
    font-size: 20px;
    color: #207dff;
    margin: 0px 0px 8px 0px;
    font-weight: 700;
    font-family: 'Montserrat', Arial, 'sans-serif';
}
.cont_p{
    font-size: 15px;
    color: #808080;
    font-weight: 400;
    line-height: 27px;
    margin: 0px 0px 16px 0px; 
    font-family: 'Montserrat', Arial, 'sans-serif';
}
.five_div{
    width: 100%;
    margin: auto;
    background-color: #207DFF;
    padding: 60px 0px;
}
.div_five{
    width: 80%;
    margin: auto;
    overflow: auto;
}
.div_five_txt1{
    width: 30%;
    float: left;
    padding: 0px 15px;
}
.five_txt1_h2{
    color: white;
    font-size: 20px;
    margin: 0px 0px 8px 0px;
    font-family: 'Montserrat', Arial, 'sans-serif';
    font-weight: 700;
}
.five_txt1_btn{
    width: 62%;
    padding: 12px 16px;
    font-size: 12px;
    text-align: center;
    border: 1px solid white;
    border-radius: 5%;
    font-family: 'Montserrat', Arial, 'sans-serif';
    font-weight: 700;
}
.txt1_btn{
    display: inline-block;
    width: 100%;
    margin: auto;
    color: #fff;
}
.div_fiv_txt2{
    width: 160px;
    height: 80%;
    float: right;
    padding: 0px 15px;
}
.fiv_txt2{
    width: 100%;
    height: 40px;
    font-size: 40px;
    color: #ffd31d;
    text-align: center;
    margin: 0px 0px 10px 0px;
    font-family: 'Montserrat', Arial, 'sans-serif';
    font-weight: 700;
}
.fiv_span_txt{
    width: 100%;
    height: 30px;
    margin: auto;
    font-size: 17px;
    color: white;
    text-align: center;
    display: block;
    font-family: 'Montserrat', Arial, 'sans-serif';
    font-weight: 400;
}
.six_div{
    width: 100%;
    background-image: url(../image/bg_2.jpg);
    background-position: center;
    background-size: cover;
    padding: 105px 0px;
    background-attachment: fixed;
}
.div_six{
    width: 80%;
    margin: auto;
    padding: auto 15px;
}
.div_six_txt1{
    width: 100%;
    margin: 0px 0px 15px 0px;
    padding: 0px 0px 48px 0px;
}
.six_txt1{
    width: 60%;
    margin: auto auto 10px auto;
    text-align: center;
    font-size: 30px;
    color: #ffffff;
    padding: 0px 15px;
    font-family: 'Montserrat', Arial, 'sans-serif';
}
.div_six_txt2{
    width: 100%;
    margin: auto;
    overflow: auto;
}
.six_txt2_div1{
    width: 25%;
    margin: auto;
    padding: 0px 15px;
    float: left;
}
.six_div1{
    width: 100%;
    height: 250px;
    background-color: #207DFF;
    padding: 30px;
    margin: 0px 0px 40px 0px;
}
.h3_six{
    font-weight: 700;
    font-size: 20px;
    color: white;
    margin: 0px 0px 8px 0px;
    font-family: 'Montserrat', Arial, 'sans-serif';
}
.p_six{
   font-weight: 400;
    font-size: 15px;
    color: white;
    line-height: 27px;
    margin: 0px 0px 16px 0px;
    font-family: 'Montserrat', Arial, 'sans-serif';
}
.six_img{
    width: 90px;
    height: 90px;
    float: right;
}
.seven_div{
    width: 100%;
    margin: auto;
    padding: 105px 0px;
}
.div_seven{
    width: 80%;
    margin: auto;
    
}
.sev_text{
    width: 60%;
    padding: 0px 0px 48px 0px;
    margin: auto auto 10px auto;
    text-align: center;
}
.seven_h2{
    width: 100%;
    margin: auto;
    padding: 0px 15px;
    font-size: 30px;
    margin: 0px 0px 8px 0px;
}
.sev_div2{
    width: 100%;
    margin: auto;
    overflow: auto;
}
.sev_div2_img{
    width: 70%;
    margin: auto;
    float: left;
    padding: 0px 15px;
}
.sev_img{
    width: 100%;
    margin: 0px 0px 20px 0px;
}
h3{
    margin: 0px 0px 8px 0px;
}
.sev_txt1{
    display: inline-block;
    font-size: 28px;
    color: black;
}
.sev_p{
    color: #808080;
    font-size: 17px;
    margin: 0px 0px 16px 0px;
    line-height: 27px;
    font-weight: 400;
    font-family: 'Montserrat', Arial, 'sans-serif';
}
.sev_div_right{
    width: 30%;
    margin: auto;
    padding: 0px 15px;
    float: right;
}
.div_right{
    width: 100%;
    background-color: #207DFF;
    padding: 24px 16px;
    margin-bottom: 10px;
}
.div_right1{
    width: 100%;
    background-color: #FFD31D;
    padding: 24px 16px;
    margin-bottom: 10px;
}
.right_div1{
    width: 100%;
    font-size: 20px;
    color: #ffffff;
    font-weight:600;
    font-family: 'Montserrat', Arial, 'sans-serif';
}
.right_div2{
    width: 100%;
    font-size: 20px;
    color: #207DFF;
    font-weight:600;
    font-family: 'Montserrat', Arial, 'sans-serif';
}