html,
body {
    width: 100%;
    height: 100%;
    margin: 0px;
}

* {
    text-decoration: none;
    box-sizing: border-box;
}

.first_div {
    width: 100%;
    margin: auto;
    background-color: #207DFF;
    color: #808080;
    overflow: auto;
}

.div_first {
    width: 85%;
    margin: auto;
}

.fir_txt1 {
    width: 50%;
    font-size: 15px;
    padding:0px 10px;
    float: left
}


.fir_txt2 {
    width: 50%;
    float: left;
    text-align: right;
    padding:0px 10px;
}

.txt {
    color: #fff;
    display: inline-block;
    font-weight: 100;
    font-size: 12px;
    font-family: 'montserrat', 'Arial', sans-serif;
    font-weight: 100;
}

.second_div {
    width: 100%;
    margin: auto;
}

.div_sec {
    width: 85%;
    margin: auto;
    padding: 0px 15px;
    overflow: auto;
}

.div_sec1 {
    width: 30%;
    float: left;
    padding: 25px 0px;
}

.logo {
    font-size: 28px;
    font-weight: 800;
    color: black;
    font-family: 'Montserrat', Arial, 'sans-serif';
}

.fab,.fas{
    color:white;
    font-size: 12px;
    padding: 8px;
    font-family: 'Montserrat', Arial, 'sans-serif';
}
.far{
    color:white;
    font-size: 12px;
    padding: 5px;
    font-family: 'Montserrat', Arial, 'sans-serif';
}
span {
    color: #207dff;
}

.div_sec2 {
    width: 70%;
    float: left;
}

ul {
    width: 100%;
    display: inline-block;
    margin: 0px;
    padding: 0px;
    text-align: right;
    font-size: 14px;
    font-weight: 700;
}

li {
    width: 100px;
    display: inline-block;
    margin: auto;
    text-align: center;
    padding: 36px 18px;
    font-weight: 700;
    font-size: 14px;
    font-family: 'Montserrat', Arial, 'sans-serif';
}
.menus{
    display: inline-block;
    color: #207dff;
    font-size:14px;
    font-family: 'Montserrat', Arial, 'sans-serif';
}
.bg{
    width: 100%;
    background-color: #ffd31d;
    position: relative;
    bottom: -35px;
   text-align: center;
    height: 5px;
}
.menu{
    display: inline-block;
    color: black;
    font-size:14px;
    font-family: 'Montserrat', Arial, 'sans-serif';
}
.third_div{
    width: 100%;
    height: 700px;
    background-image: url(../image/bg_1.jpg);
    background-position:top;
    background-size: cover; 
    background-attachment: fixed;
}
.div_third{
    width: 85%;
    height: 100%;
    margin: auto;
}
.text_left{
    width: 42%;
    margin: auto;
    position: absolute;
    top: 290px;
    right: 150px;
    
}
.h1_text{
    font-size: 45px;
    margin: 0px;
    color:white;
    margin-bottom: 25px; 
    font-family: 'Montserrat', Arial, 'sans-serif';
    font-weight: 800;
    line-height: 70px;
}
.border{
    color: #ffd31d;
    border: 2px dashed #ffd31d;
    margin-right: 10px;
    text-align: center;
    padding: 0px 5px;
}
.third_div_btn{
    width: 150px;
    height: 50px;
    background-color: #ffd31d;
    border-radius: 07px;
    border: 1px solid #ffd31d;
    margin-bottom: 15px;
}
.btn_third{
    color: black;
    font-size: 14px;
    padding: 16px 24px;
    font-family: 'Montserrat', Arial, 'sans-serif';
    font-weight: 600;
    text-align: center;
}
.four_div{
    width: 100%;
    margin: auto
}
.div_four{
    width: 80%;
    margin: auto;
    overflow: auto;
}
.div_four_img{
    width: 40%;
    height: 544px;
    float: left;
    background-image: url(../image/about-1.jpg);
    background-position: center;
    background-size: cover;
}
.div_four_contain{
    width: 60%;
    float: right;
    padding: 48px 0px 48px 48px;
}
.four_div_header{
    color: rgba(0,0,0,0.8);
    font-size: 30px;
    padding: 48px 0px 0px 0px;
    margin: 0px 0px 24px 0px;
    font-family: 'Montserrat', Arial, 'sans-serif';
}
.contain{
    width: 100%;
    margin: auto;
    overflow: auto;
}
.cont_div1{
    width: 50%;
    margin: 0px 0px 20px 0px;
    padding: 0px 15px;
    overflow: auto;
    float: left;
}
.con_icon1{
    width: 25%;
    background-color: #ffd31d;
    float: left;
    padding: 15px;
    border-radius: 50%;
}
.icon1{
    width: 100%;
    height: 100%;
}
.con_p{
    width: 75%;
    float: left;
    padding: 0px 0px 0px 16px;
}
.con_h2{
    font-size: 20px;
    color: #207dff;
    margin: 0px 0px 8px 0px;
    font-weight: 700;
    font-family: 'Montserrat', Arial, 'sans-serif';
}
.cont_p{
    font-size: 15px;
    color: #808080;
    font-weight: 400;
    line-height: 27px;
    margin: 0px 0px 16px 0px; 
    font-family: 'Montserrat', Arial, 'sans-serif';
}
.five_div{
    width: 100%;
    margin: auto;
    background-color: #207DFF;
    padding: 60px 0px;
}
.div_five{
    width: 80%;
    margin: auto;
    overflow: auto;
}
.div_five_txt1{
    width: 30%;
    float: left;
    padding: 0px 15px;
}
.five_txt1_h2{
    color: white;
    font-size: 20px;
    margin: 0px 0px 8px 0px;
    font-family: 'Montserrat', Arial, 'sans-serif';
    font-weight: 700;
}
.five_txt1_btn{
    width: 62%;
    padding: 12px 16px;
    font-size: 12px;
    text-align: center;
    border: 1px solid white;
    border-radius: 5%;
    font-family: 'Montserrat', Arial, 'sans-serif';
    font-weight: 700;
}
.txt1_btn{
    display: inline-block;
    width: 100%;
    margin: auto;
    color: #fff;
}
.div_fiv_txt2{
    width: 160px;
    height: 80%;
    float: right;
    padding: 0px 15px;
}
.fiv_txt2{
    width: 100%;
    height: 40px;
    font-size: 40px;
    color: #ffd31d;
    text-align: center;
    margin: 0px 0px 10px 0px;
    font-family: 'Montserrat', Arial, 'sans-serif';
    font-weight: 700;
}
.fiv_span_txt{
    width: 100%;
    height: 30px;
    margin: auto;
    font-size: 17px;
    color: white;
    text-align: center;
    display: block;
    font-family: 'Montserrat', Arial, 'sans-serif';
    font-weight: 400;
}
.six_div{
    width: 100%;
    background-image: url(../image/bg_2.jpg);
    background-position: center;
    background-size: cover;
    padding: 105px 0px;
    background-attachment: fixed;
}
.div_six{
    width: 80%;
    margin: auto;
    padding: auto 15px;
}
.div_six_txt1{
    width: 100%;
    margin: 0px 0px 15px 0px;
    padding: 0px 0px 48px 0px;
}
.six_txt1{
    width: 60%;
    margin: auto auto 10px auto;
    text-align: center;
    font-size: 30px;
    color: #ffffff;
    padding: 0px 15px;
    font-family: 'Montserrat', Arial, 'sans-serif';
}
.div_six_txt2{
    width: 100%;
    margin: auto;
    overflow: auto;
}
.six_txt2_div1{
    width: 25%;
    margin: auto;
    padding: 0px 15px;
    float: left;
}
.six_div1{
    width: 100%;
    height: 250px;
    background-color: #207DFF;
    padding: 30px;
    margin: 0px 0px 40px 0px;
}
.h3_six{
    font-weight: 700;
    font-size: 20px;
    color: white;
    margin: 0px 0px 8px 0px;
    font-family: 'Montserrat', Arial, 'sans-serif';
}
.p_six{
   font-weight: 400;
    font-size: 15px;
    color: white;
    line-height: 27px;
    margin: 0px 0px 16px 0px;
    font-family: 'Montserrat', Arial, 'sans-serif';
}
.six_img{
    width: 90px;
    height: 90px;
    float: right;
}
.seven_div{
    width: 100%;
    margin: auto;
    padding: 105px 0px;
}
.div_seven{
    width: 80%;
    margin: auto;
    
}
.sev_text{
    width: 60%;
    padding: 0px 0px 48px 0px;
    margin: auto auto 10px auto;
    text-align: center;
}
.seven_h2{
    width: 100%;
    margin: auto;
    padding: 0px 15px;
    font-size: 30px;
    margin: 0px 0px 8px 0px;
}
.sev_div2{
    width: 100%;
    margin: auto;
    overflow: auto;
}
.sev_div2_img{
    width: 70%;
    margin: auto;
    float: left;
    padding: 0px 15px;
}
.sev_img{
    width: 100%;
    margin: 0px 0px 20px 0px;
}
h3{
    margin: 0px 0px 8px 0px;
}
.sev_txt1{
    display: inline-block;
    font-size: 28px;
    color: black;
}
.sev_p{
    color: #808080;
    font-size: 17px;
    margin: 0px 0px 16px 0px;
    line-height: 27px;
    font-weight: 400;
    font-family: 'Montserrat', Arial, 'sans-serif';
}
.sev_div_right{
    width: 30%;
    margin: auto;
    padding: 0px 15px;
    float: right;
}
.div_right{
    width: 100%;
    background-color: #207DFF;
    padding: 24px 16px;
    margin-bottom: 10px;
}
.div_right1{
    width: 100%;
    background-color: #FFD31D;
    padding: 24px 16px;
    margin-bottom: 10px;
}
.right_div1{
    width: 100%;
    font-size: 20px;
    color: #ffffff;
    font-weight:600;
    font-family: 'Montserrat', Arial, 'sans-serif';
}
.right_div2{
    width: 100%;
    font-size: 20px;
    color: #207DFF;
    font-weight:600;
    font-family: 'Montserrat', Arial, 'sans-serif';
}
.eight_div{
    width: 100%;
    margin: auto;
    padding: 105px 0px;
}
.div_eight{
    width: 80%;
    margin: auto;
    padding: 0px 0px 48px 0px;
}
.eight_h2{
    margin: 0px 0px 8px 0px;
    font-size: 30px;
    font-weight: 800;
    font-family: 'Montserrat', Arial, 'sans-serif';
    color: black;
    text-align: center;
}
.div_eight1{
    width: 80%;
    margin: auto;
    padding: 0px 15px;
}
.eight_divs_txt{
    width: 100%;
    margin: auto;
    padding: 20px 0px 30px 0px;
}
.left{
    width: 100%;
    margin: auto;
    overflow: auto;
}
.fa-quote-left{
    width: 33.33%;
    color: #207DFF;
    font-size: 30px;
    padding: 0px;
    float: left;
    text-align: center;
}
.profile1{
    width: 100%;
    margin: auto;
    overflow: auto;
}
.pro_text{
    width: 33.33%;
    margin: auto;
    overflow: auto;
    padding: 30px 20px;
    float: left;
}
.pro_img{
    width: 25%;
    margin: auto;
    float: left;
}
.profile{
   width: 80px;
   height: 80px;
   border-radius: 50%;
}
.pro_int{
    width: 75%;
    margin: auto;
    float: left;
    padding: 0px 0px 0px 24px;
}
.star{
    margin: 0px;
    text-align: left;
    margin: 0px 0px 16px 0px;
}
.fa-star{
    color: gold;
    font-size: 15px;
    padding: 0px;
}
.pro_p{
    color: #808080;
    font-size: 15px;
    line-height: 27px;
    margin: 0px 0px 16px 0px;
    font-weight: 400;
    font-family: 'Montserrat', Arial, 'sans-serif';
}
.name{
    color: black;
    font-size: 16px;
    font-weight: 400;
    margin: 0px;
    padding: 0px;
    font-family: 'Montserrat', Arial, 'sans-serif';
}
.position{
    color: #808080;
    font-size: 15px;
    font-weight: 400;
    margin: 0px;
    padding: 0px;
    font-family: 'Montserrat', Arial, 'sans-serif';
}
.nine_div{
    width: 100%;
    margin: auto;
    padding: 105px 0px;
}
.div_nine{
    width: 100%;
    margin: auto;
    padding: 0px 24px;
    overflow: auto;
}
.nine_img1{
    width: 25%;
    margin: auto;
    float: left;
}
.img1_nine{
    width: 100%;
    height: 270px;
    border-radius: 5px;
    padding: 0px 15px;
    margin-bottom: 15px;
}
.ten_div{
    width: 100%;
    margin: auto;
    padding: 105px 0px;
}
.div_ten{
    width: 80%;
    margin: 0px auto 16px auto;
    padding: 0px 0px 48px 0px;
    
}
.ten_h2{
    width: 100%;
    margin: 0px 0px 8px 0px;
    font-size: 30px;
    font-weight: 800;
    text-align: center;
    font-family: 'Montserrat', Arial, 'sans-serif';
}
.div_ten_img{
    width: 80%;
    margin: auto;
    overflow: auto;
}
.ten_img1{
    width: 33.33%;
    margin: auto;
    float: left;
    padding: 0px 15px;
}
.ten_div_img1{
    width: 100%;
    height: 290px;
    border-radius: 5px;
}
.div_ten_txt{
    padding: 24px;
}
.img_txts{
    margin: 0px 0px 8px 0px ;
}
.txts{
    display: inline-block;
    color: #999999;
    margin: 0px 5px 5px 0px;
}
.fa-comment{
    color:#207DFF;
    padding: 0px;
    margin: 0px 5px 5px 0px;
}
.p_tn{
    margin: 0px 0px 16px 0px;
}
.ten_p{
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
    color: black;
    display: inline-block;
    font-family: 'Montserrat', Arial, 'sans-serif';
}
.eleven_div{
    width: 100%;
    margin: auto;
    background-image: url(../image/image_2.jpg);
}
.div_eleven{
    width: 60%;
    margin: auto;
    padding: 48px 16px 48px 48px;
}
.ele_txt1{
    font-size: 32px;
    font-weight: 800;
    color: white;
    margin: 0px 0px 24px 0px;
    font-family: 'Montserrat', Arial, 'sans-serif';
}
.div_form1{
    padding: 0px 15px;
}
.select_form{
    width: 100%;
    height: 50px;
    padding: 6px 12px;
    color:#999999;
    margin-bottom: 15px;
    border-radius: 5px;
}
.form_1{
    overflow: auto;
}
.divison{
    width: 50%;
    float: left;
    padding: 0px 15px;
}
.divison1{
    width: 100%;
    padding: 6px 12px;
    margin: auto;
}
.your_name1,.email,.date,.time{
     width: 100%;
    height: 50px;
    padding: 6px 12px;
    color:#999999;
    float: left;
    margin-bottom: 15px;
    border-radius: 5px;
}
.msg{
    width: 100%;
    padding: 6px 12px;
    color:#999999;
    margin-bottom: 15px;
    border-radius: 5px;
}
.div_btn{
    width: 100%;
    padding: 0px 15px;
    margin: 0px 0px 15px 0px;
}
.send{
    width: 100%;
    text-align: center;
    background-color:#207DFF;
    display: inline-block;
    padding: 16px 24px;
    color: white;
    font-size: 15px;
    font-weight: 600;
}
.last_div{
    width: 100%;
    margin: auto;
    background-color: black;
    padding: 105px 0px;
}
.div_last{
    width: 85%;
    margin: auto auto 30px auto;
    padding: 0px 15px;
    overflow: auto;
}
.div_last1{
    width: 25%;
    margin: auto;
    padding: 0px 15px;
    float: left;   
}
.last_div1_h2{
    font-size: 22px;
    font-weight: 700;
    margin: 0px 0px 30px 0px;
    font-family: 'Montserrat', Arial, 'sans-serif';
    color: #ffffff;
}
.last_div2_p{
    font-size: 15px;
    margin: 0px 0px 16px 0px;
    font-weight: 400;
    color: #808080;
    line-height: 27px;
    font-family: 'Montserrat', Arial, 'sans-serif';
    
}
.last_icons{
    width: 100%;
    margin: 0px 0px 16px 0px;
    overflow: auto;
}
.ls_ic1{
    width: 40px;
    height: 40px;
    margin-right: 10px;
    background-color: rgba(255,255,255,0.1);
    display: inline-block;
    border-radius: 50%
}
.fa-twitter,.fa-instagram{
   font-size: 18px;
   padding: 10px;
   color: white;
}
.fa-facebook-f{
    font-size: 18px;
    padding: 10px;
    color: white: ;
    text-align: center;
}
.div_last2{
    width: 25%;
    margin: auto;
    padding: 0px 15px;
    float: left;
}
.last_div2_h2{
    font-size: 22px;
    font-weight: 700;
    margin: 0px 0px 30px 0px;
    font-family: 'Montserrat', Arial, 'sans-serif';
    color: #ffffff;
}
.last_div2_imgp{
    width: 100%;
    margin: 0px 0px 24px 0px;
    overflow: auto;
}
.div2_img{
    width: 80px;
    height: 80px;
    
    float: left;
}
.last_div2_img1{
    width: 100%;
    height: 100%;
    margin: 0px 20px 0px 0px;
    border-radius: 5px;
    
}
.div2_p{
    width: 57%;
    float: right;
}
.last_para{
    font-size: 16px;
    color: #808080;
    font-weight: 400;
    line-height: 23px;   
    font-family: 'Montserrat', Arial, 'sans-serif';
    margin: 0px 0px 8px 0px;
}
.ls_txt{
    display: inline-block;
    font-size: 12px;
    color: #808080;
    font-family: 'Montserrat', Arial, 'sans-serif';
}

.div_last3{
    width: 25%;
    margin: auto;
    padding: 0px 15px 0px 48px;
    float: left;
}
.last_div3_h2{
    font-size: 22px;
    font-weight: 700;
    margin: 0px 0px 30px 0px;
    font-family: 'Montserrat', Arial, 'sans-serif';
    color: #ffffff;
}
.last_menus{
    width: 100%;
    display: inline-block;
    padding: 12px 0px;
    color: #808080;
    font-size: 15px;
    font-family: 'Montserrat', Arial, 'sans-serif';
}
.div_last4{
    width: 25%;
    margin: auto;
    padding: 0px 15px;
    float: left;
}
.last_div4_h2{
    font-size: 22px;
    font-weight: 700;
    margin: 0px 0px 30px 0px;
    font-family: 'Montserrat', Arial, 'sans-serif';
    color: #808080;
}
.div4_map{
    width: 100%;
    margin-bottom: 15px;
    overflow: auto;
}
.fa-map{
    width: 15%;
    padding: 0px;
    color: #808080;
    font-size: 20px;
    margin: 5px 0px 5px 0px;
    float: left;
}
.last_add{
    width: 85%;
    color: #808080;
    font-size: 15px;
    line-height: 23px;
    margin: 0;
    font-family: 'Montserrat', Arial, 'sans-serif';
    font-weight: 400;
    float: left;
}
.fa-phone-volume{
    width: 15%;
    padding: 0;
    color: #808080;
    font-size: 20px;
    margin: 5px 0px 5px 0px;
    float: left;
}
.last_con{
    width: 85%;
    color: #808080;;
    float: left;
    margin: 0;
    padding: 5px 0px 5px 0px;
}
.fa-telegram-plane{
    width: 15%;
    padding: 0;
    font-size: 20px;
    margin: 5px 0px 5px 0px;
    color: #808080;
    float: left;
}
.last4_txt4{
    width: 85%;
    color: #808080;
    float: left;
    padding: 5px 0px 5px 0px;
    display: inline-block;
}
.last_txt0{
    width: 100%;
    margin: auto;
    color: #808080;
}
.ls_tx{
    width: 80%;
    font-size: 15px;
    text-align: center;
    font-weight: 100;
    color: #999999;
    margin: 0px auto 16px auto;
}